{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container">
		{{ form_start(registrationForm, { 'attr': { 'class': 'registration-form' } }) }}
		<h2>Register</h2>
		<div class="form-group">
			{{ form_row(registrationForm.firstName, { 'attr': { 'class': 'input' } }) }}
		</div>
		<div class="form-group">
			{{ form_row(registrationForm.lastName, { 'attr': { 'class': 'input' } }) }}
		</div>
		<div class="form-group">
			{{ form_row(registrationForm.email, { 'attr': { 'class': 'input' } }) }}
		</div>
		<div class="form-group">
			{{ form_row(registrationForm.plainPassword, { 
                'attr': { 'class': 'input' }, 
                'label': 'Password' 
            }) }}
		</div>
		<div class="form-group">
			<label for="role">Role</label>
			<select id="role" name="role" class="form-control dropdown-form-control">
				<option value="ROLE_TEACHER">Teacher</option>
				<option value="ROLE_STUDENT">Student</option>
			</select>
		</div>


		<div class="form-group checkbox-group">
			{{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'checkbox-input' } }) }}
			{{ form_label(registrationForm.agreeTerms) }}
		</div>
		<p class="mt-3 mb-5">Already have an account?
			<a href="{{ path('app_login') }}">Sign in</a>
		</p>
		<button type="submit" class="button">Register</button>
		{{ form_end(registrationForm) }}

	</div>

{% endblock %}
